body{
   background-color: #9AD0EC;
  margin: 0;
  text-align: center;
  font-family: serif;
  font-size: 50px;
}
h1{
  text-align: center;
  color: #66BFBF;
}
h2{
  color:
}
hr{
  border:dotted #EAF6F6 6px;
  border bottom:none;
  width:4%;
  margin: 100px auto auto;
}
a{
  color:#11999E;
  font-family: cursive;
  margin: 10px 20px;
  text-decoration: none;
}
